# Exploring MOSAIKS Features

In [1]:
import pandas as pd
import pickle

In [2]:
with open('../data/WORLD_UAR.pkl', 'br') as f:
    data = pickle.load(f)

In [3]:
type(data)

dict

In [4]:
data.keys()

dict_keys(['X', 'ids_X', 'latlon'])

In [5]:
data['latlon'].shape

(498133, 2)

In [6]:
data['latlon'][:10]

array([[ -23.5339713 ,   26.22847955],
       [  39.46111238, -107.40548179],
       [  45.20652373,   57.89131342],
       [  55.37729209, -105.84919635],
       [  26.0107562 ,   -0.8343602 ],
       [  45.92956362,   78.34338315],
       [  28.66507596,   54.59970085],
       [  48.95539085,  -83.79952387],
       [  33.38339624,  133.08882233],
       [  14.60431249,   -6.45351471]])

In [8]:
data['latlon'][9]

array([14.60431249, -6.45351471])

In [9]:
data['X'].shape

(498133, 2048)

In [10]:
data['X'].dtype

dtype('float32')

In [15]:
data['ids_X'][1]

'7014,5272'

In [8]:
data['ids_X']

array(['11896,14975', '7014,5272', '6449,17274', ..., '6389,5094',
       '11521,14088', '5029,18404'], dtype='<U32')

In [9]:
data['ids_X'].shape

(498133,)

In [14]:
pd.Series(data['ids_X']).unique().shape

(498133,)

All entries in `ids_X` are unique.

In [10]:
targets = pd.read_csv('dhs_wealth_index.csv')
print(targets.shape)
targets.head(3)

(35235, 16)

,cluster,svyid,wealthpooled,wealthpooled5country,wealth,iso3,hv000,year,cname,country,region,iso3n,households,LATNUM,LONGNUM,URBAN_RURA
0,1,AO2011,2.595618,2.375126,1.713497,AGO,AO5,2011,AO,Angola,Middle Africa,24,36,-12.350257,13.534922,U
1,2,AO2011,2.209620,1.999398,1.545335,AGO,AO5,2011,AO,Angola,Middle Africa,24,32,-12.360865,13.551494,U
2,3,AO2011,0.906469,0.677429,0.631730,AGO,AO5,2011,AO,Angola,Middle Africa,24,36,-12.613421,13.413085,U